.selectable{
    cursor: pointer;
    white-space: nowrap;
}

.selectable:hover{
    background-color: aqua;
}
.contextMenu:hover{
    background-color: aqua;
}
.showConextMenu{
    visibility: visible;
    display: block;
    position: absolute;
    background-color: gray;
    z-index: 10;
}

.fileEditor{
    width: 100%;
    height: 100%;
    position:fixed;
    overflow: scroll;
}

.rightClickMenu:hover{
    background-color: aqua;
}

.hiddenRightClickMenu:hover{
    background-color: aqua;
}
.showRightClickMenu{
    visibility: visible;
    display: block;
    position: absolute;
    background-color: gray;
    z-index: 10;
}


.hiddenConextMenu{
    visibility: visible;
    display: none;
}