.selectable{
    cursor: pointer;
    white-space: nowrap;
}

.writeable{
    cursor:text;
    white-space: nowrap;
    background-color: white;

}


* {
    margin: 0;
    padding: 0;
}
.selectable:hover{
    background-color: aqua;
}

.contextMenu{
    padding: 5pt;
    border: solid;
    border-width: 2pt;
}
.contextMenu:hover{
    background-color: aqua;
}

.MenuBarButton{
    height: 20pt;
    width: 20pt;
    padding: 2pt;
    margin: 2pt;
    position: absolute;
    border: transparent;
    border-width: 1pt;
}

.MenuBarButton:hover{
    border: solid;
    border-width: 1pt;
}

.MenuBarButton:active{
    background-color: blanchedalmond;
}   

.NaviButton{
    height: 20pt;
    width: 20pt;
    padding: 1pt;
    margin: 1pt;
}

.NaviButton:hover{
    border: solid;
    border-width: 1pt;
}

.MenuBarButton:active{
    background-color: blanchedalmond;
}

.showConextMenu{
    visibility: visible;
    display: block;
    position: absolute;
    background-color: gray;
    z-index: 10;
}

.fileEditor{
    width: 100%;
    height: 100%;
    
}


.rightClickMenu{
    padding: 5pt;
    border: solid;
    border-width: 2pt;
}

.rightClickMenu:hover{
    background-color: aqua;
}

.hiddenRightClickMenu:hover{
    background-color: aqua;
}
.showRightClickMenu{
    visibility: visible;
    display: block;
    position: absolute;
    background-color: gray;
    z-index: 10;
}


.hiddenConextMenu{
    visibility: visible;
    display: none;
}

.inline{
    display: inline;
}

.fileDiv{
    margin-left: 3pt;
    padding-left: 2pt;
    margin-top: 0pt;
    padding-top: 2pt;
    margin-bottom: 0pt;
    padding-bottom: 2pt;
    margin-right: 0pt;
    padding-right: 0pt;
    border-left-width: 1pt;
    border-right-width: 0pt;
    border-top-width: 0pt;
    border-bottom-width: 0pt;
    border-style:solid;
    border-color: black;
    font-family: Arial, sans-serif;
}

.directoryDiv{
    font-family: Arial, sans-serif;

    margin-left: 3pt;
    padding-left: 2pt;
    margin-top: 0pt;
    padding-top: 2pt;
    margin-bottom: 0pt;
    padding-bottom: 2pt;
    margin-right: 0pt;
    padding-right: 0pt;
    border-left-width: 1pt;
    border-right-width: 0pt;
    border-top-width: 0pt;
    border-bottom-width: 0pt;
    border-style:solid;
    border-color: black;

}