

.baseTabManagerTable{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template:
    [header-left] "headTabManager" 30px [header-right]
    [main-left] " mainTabManager" 1fr [main-right]
    [footer-left] " footTabManager" 10px [footer-right]
/ 1fr;
}

.headTabManager{
    background-color: whitesmoke;
    grid-area: headTabManager;
    overflow-y: scroll;
}
.mainTabManager{
    background-color: gray;
    grid-area: mainTabManager;;
}

.closeButton{
    height: 10pt;
    width: 10pt;
}

.footTabManager{
    background-color: black;
    grid-area: footTabManager;

}

.tabButton{
    cursor: pointer;
    white-space: nowrap;
    min-width: 40pt;
    height: 100%;
    width: fit-content;
    float:left;
}
.headTab{
    cursor: pointer;
    white-space: nowrap;
    min-width: 60pt;
    height: 100%;
    width: fit-content;
    float:left;
}

.activeTab{
    background-color: gray;
}

.inactiveTab{
    background-color: greenyellow;
}