.baseTabManagerTable{
    display: grid;
    width: 100%;
    height: 100%;
    min-width: 0pt;
    min-height: 0pt;
    grid-template:
    [header-left] "headTabManager" 25pt [header-right]
    [main-left] " mainTabManager" 1fr [main-right]
    [footer-left] " footTabManager" 3pt [footer-right]
/ 1fr;
}

.headTabManager{
    background-color: whitesmoke;
    grid-area: headTabManager;
    overflow-x: auto;
    display: inline-block;
    overflow-y:hidden;

}

.specialTabDiv{
    overflow: scroll;
    max-width: 100%;
    height: 100%;
    width: 100%;
}
.headTabContent{
    background-color: whitesmoke;
    grid-area: headTabManager;
    overflow-x: auto;
    display: inline-block;
    overflow-y:hidden;
    width: max-content;
    height: 100%;
}

.mainTabManager{
    background-color: rgb(165, 165, 165);
    grid-area: mainTabManager;;
    min-width: 0pt;
    min-height: 0pt;

}

.closeButton{
    height: 10pt;
    width: 10pt;
}

.footTabManager{
    background-color: black;
    grid-area: footTabManager;

}

.tabButton{
    cursor: pointer;
    white-space: nowrap;
    min-width: 40pt;
    height: 100%;
    width: fit-content;
    float:left;
}
.headTab{
    cursor: pointer;
    white-space: nowrap;
    min-width: 60pt;
    padding-right: 1pt;
    height: 100%;
    width: fit-content;
    float:left;
    display: inline;
}

.TabCloseButton{
    width: 20pt;
    padding-top: 2pt;
}

.TabCloseButton:hover{
 background-color: gainsboro;
}
.activeTab{
    background-color: rgb(165, 165, 165);
    border-width: 1pt;
    border-style: solid;
    border-color: azure;
}


.inactiveTab{
    background-color: rgba(165, 165, 165, 0.3); /* Existing background transparency */
    border-width: 1pt;
    border-style: solid;
    border-color: azure;
    color: rgba(0, 0, 0, 0.3); /* Added text transparency */
}

.activeMainTab{
    display: block;
}

.inactiveMainTab{
    display: none;
}
.iframeApp{
    width: 100%;
    height: 100%;
}